
.generator-form {
  width: 800px;
  
}

.password input {
  width: 100%;
}

.password {
  margin-bottom: 20px;
}

#length {
  width: 50px;
  display: flex;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}